# Server Environment Variables
SERVER_PORT=3000

# CORS Environment Variables
CORS_CREDENTIALS=true
CORS_MAX_AGE=600
CORS_ORIGIN="http://localhost:5173"

# Database Environment Variables
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_SERVER_NAME="localhost"
DATABASE_PORT=1433
DATABASE_NAME=""
DATABASE_ENCRYPT=true
DATABASE_TRUST_SERVER_CERTIFICATE=false

# Authentication Environment Variables
PASSWORD_SALT=""

JWT_ALGORITHMS="HS512"
JWT_SECRET=""
JWT_EXPIRES_IN=1

IP_IN_PAYLOAD=false

COOKIE_ACCESS_TOKEN_NAME="assetTaggerAccessToken"
COOKIE_HTTP_ONLY=true
COOKIE_MAX_AGE=1
COOKIE_SAME_SITE=none
COOKIE_SECURE=true