# Server Environment Variables
SERVER_PROTOCOL="http" # or https
SERVER_HOSTNAME="localhost"
SERVER_PORT=3000

# Admin EndUser Environment Variables
ADMIN_END_USER_NAME=""
ADMIN_END_USER_PASSWORD=""

# Update Environment Variables
UPDATE_SUFFIX="2"